
examples/capsula02-regresion.html
examples/capsula01-procesamiento.html
examples/.Rhistory
.Rproj.user/
.Rhistory
documents/anterior/capsula01-procesamiento.html
documents/anterior/capsula02-regresion.html
